.Body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Movies {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.light {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
}

.dark {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}
a{
    text-decoration: none;
}