.mainInfoContainer {
    display: flex;
    position: absolute;
    height: 450px;
    width: 100%;
    top: 60px;
    left: 40px;
    padding: 30px 40px;
    box-sizing: border-box;


}

.backdropImageContainer {
    height: calc(100vh - 55px);
    width: 100%;
    padding: 0;
    margin: 0;
    filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.backdropImage {
    height: 100%;
    width: 100%;
    filter: opacity(0.5);
}

.moviePoster {
    height: 450px;
    width: 300px;
    border-radius: 5px;
    filter: drop-shadow(2px 4px 6px black);
    z-index: 1;

}

.textInfo {
    width: 100%;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
}
.voteAverage{
    font-size: x-large;
    padding: 0 5px;
}
.trailersContainer{
    position: relative;
    width: 100%;
}
.trailerItem{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;


}